.batch-row {
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
  cursor: pointer;
  
}

.batch-row:hover {
  background-color: #f3f4f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
  transform: translateY(-2px); /* Lift the row slightly */
}